@use '/src/sass/components';

/*===========================================================================*/

$gray_primary:#0f0f0f;

$gray_Secundary_Color: #323235;

$Secundary_Color: #b39c7a;

$Color_White:#ffffff;

$Color_White_B9: #cfcfcf;

$Color_White_F3: #ffffffe3;

$Color_Smoker: rgba(0, 0, 0, 0.966);

$Cube: rgba(255, 255, 255, 0.25);

$Transition_ease: 0.5s ease;

$font_Primary: 'aquire light';

$font_Secondary: 'aquire regular';

$font_Tertiary: 'aquire bold';

$font_normal: "Montserrat";