@use '/src/sass/animate';
@use '/src/sass/responsive';
@use '/src/sass/mixins';
@use '/src/sass/variables' as var;

.tools-container {
    position: relative;
    width: 100vw;
    height: auto;
    padding-bottom: 20vmax;
    overflow: hidden;

    .title-svg {
        @include mixins.align(relative, flex, end, end);
        width: inherit;
        height: auto;

        .layer {
            position: relative;
            width: auto;
            height: auto;
            margin-right: 10vmax;

            svg {
                position: relative;
                width: 10vmax;
                transform: rotate(180deg);
                border-radius: 50%;
                padding: 2vmax;
            }

            h1 {
                text-align: center;
                font-size: 3vmax;
                margin-top: 2vmax;
                letter-spacing: 2px;
                color: var.$Color_White_B9;
                font-family: var.$font_Primary;
            }
        }
    }

    .wrapper-one,
    .wrapper-dwo {
        @include mixins.align(relative, flex, center, center);
        width: 110%;
        height: 20vh;
        border: 2px solid var.$Secundary_Color;
        border-left: none;
        border-right: none;
        
        // Correção para serrilhado em elementos rotacionados
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        outline: 1px solid transparent; // Truque para forçar antialiasing

        @include responsive.screen_small {
            height: 80px;
        }

        // Container que se move
        .track {
            display: flex;
            width: max-content; // Permite que o container cresça o quanto precisar
            animation: scroll 60s linear infinite;

            // Pausa a animação ao passar o mouse (opcional, mas profissional)
            &:hover {
                animation-play-state: paused;
            }
        }

        .item {
            @include mixins.align(relative, flex, center, center);
            flex-shrink: 0;
            margin-right: 5vmax;

            a {
                text-wrap: nowrap;
                text-decoration: none;
                font-size: 5vmax;
                letter-spacing: 3px;
                font-family: var.$font_Secondary;
                transition: var.$Transition_ease;
                transform: translateZ(0); // Força aceleração de hardware no texto

                @include responsive.screen_small {
                    font-size: 50px;
                }
            }
        }
    }

    .wrapper-one {
        transform: rotate(5deg) translateX(-5%);
        background-color: var.$Secundary_Color;

        a {
            color: var.$gray_primary;
        }
    }

    .wrapper-dwo {
        transform: rotate(-5deg) translateX(-5%);
        background-color: var.$gray_primary;

        // Inverte a direção da animação para a segunda linha
        .track {
            animation-direction: reverse;
        }

        a {
            color: var.$Secundary_Color;
        }
    }
}